$white : #fff;
$black : #000;
$gray : #6C6C6C;


$primary-bg-light : #f1f9f8;
$gray-One : #e1e1e1;
$primary-bg:#FF4F5B;
$gray-bg:#E1E1E1;
$secondary-bg:#2fc2b2;

$green:#18AA00;
$yellow:#E28A05;

//nav varibles
$nav-bg:$primary-bg